.chatbox-input {
  display: flex;
  border-top: 2px solid #D3D3D3;
  max-height: 15%;
}

.input {
  border: 0.5px solid #D3D3D3;
  border-radius: 20px;
  padding: 20px 20px;
  margin:  20px 5px 20px 20px;
  width: 95%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus, button:focus{
  outline: none;
}

.input:focus{
  background-color: #edfaff;
  transition: 0.5s;
}

.sendButton:hover{
  background-color: #edfaff;
  transition: 0.5s;
  cursor: pointer;
}


.sendButton {
  border: 0.5px solid #D3D3D3;
  color: black !important;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  margin: 20px 5px 20px 5px;
  padding: 0px 20px
}
